@font-face {
    font-style: normal;
    src: url("assets/fonts/PressStart2P-Regular.ttf");
    font-family: "pressstartp";
    font-weight: 400;

  }

  .font-pressstartp {
    font-family: "pressstartp", sans-serif;
  }